{
  "presets": ["env"],
  "plugins": [
    "syntax-object-rest-spread",
    "transform-object-rest-spread",
    [
      "transform-builtin-extend",
      {
        "globals": [
          "Error",
          "Array"
        ]
      }
    ]
  ]
}
